@media only screen and (min-width:1000px) {
.search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  border-radius: 50px;
}


.ta-item {
  display: block;
}

.city-grid {
  margin: 10%;
  align-content: center;
  justify-items: space-between;
}

}

@media only screen and (max-width:999px) {
  /* For desktop: */
  .search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }
  
  
  .ta-item {
    display: block;
  }
  
  .city-grid {
    display:block;
    align-content: center;
    justify-items: space-between;
  }
  
 
  
}

